.card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background: #000;
    border: 1px rgba(0,0,0,0.0);
    box-shadow: 0 8px 20px rgba(0,0,0,0.10);
    height: 325px;
    cursor: pointer;
    transition: transform 0.35s ease-in-out,
                box-shadow 0.35s ease-in-out;
}

/* Image */
.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Availability pill */
.card__pill {
    position: absolute;
    top: 10px;
    right: 10px;

    background: rgba(255, 255, 255, 0.95);
    border-radius: 999px;
    padding: 6px 10px;

    font-size: 12px;
    font-weight: 700;

    display: inline-flex;
    align-items: center;
    gap: 8px;
}

/* Green dot */
.card__dot {
    width: 10px;
    height: 10px;
    border-radius: 999px;
    background: #34a853;
}

.card__name {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;

    background: #f97316;
    color: #fff;

    padding: 10px 12px;
    border-radius: 10px;

    font-weight: 800;
    font-size: 14px;
    line-height: 1.2;

    box-shadow: 0 8px 20px rgba(0,0,0,0.18);
}

.card:hover {
    transform: scale(0.96);
}

.card:active {
    transform: scale(0.9);
}

@media (max-width: 768px) {
    .card {
        height: 180px;
    }

    .card__name {
        background: none;
        font-size: 22px;
        font-weight: 700;
        z-index: 2;
        top: 40%
    }

    .card__pill {
        font-size: 14px;
        padding: 8px 14px;
    }

    .card__dot {
        width: 12px;
        height: 12px;
    }

    .card::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(
        to top,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.2),
        transparent
        );
    }
    
}